[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Cygwin Terminal
Exec=mintty
TryExec=mintty
Type=Application
Icon=mintty
Categories=System;TerminalEmulator;
OnlyShowIn=X-Cygwin;
