@font-face {
  font-family: 'serverpress';
  src: url('../font/serverpress.eot?40717621');
  src: url('../font/serverpress.eot?40717621#iefix') format('embedded-opentype'),
       url('../font/serverpress.woff?40717621') format('woff'),
       url('../font/serverpress.ttf?40717621') format('truetype'),
       url('../font/serverpress.svg?40717621#serverpress') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'serverpress';
    src: url('../font/serverpress.svg?40717621#serverpress') format('svg');
  }
}
*/
 
 [class^="ds-icon-"]:before, [class*=" ds-icon-"]:before {
  font-family: "serverpress";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ds-icon-serverpress:before { content: '\e800'; } /* '' */
.ds-icon-terminal:before { content: '\e824'; } /* '' */
.ds-icon-spin2:before { content: '\e806'; } /* '' */
.ds-icon-spin3:before { content: '\e801'; } /* '' */
.ds-icon-spin4:before { content: '\e802'; } /* '' */
.ds-icon-spin5:before { content: '\e804'; } /* '' */
.ds-icon-spin6:before { content: '\e803'; } /* '' */
.ds-icon-th-1:before { content: '\e830'; } /* '' */
.ds-icon-link-ext:before { content: '\e832'; } /* '' */
.ds-icon-lock:before { content: '\e842'; } /* '' */
.ds-icon-lock-open:before { content: '\e843'; } /* '' */
.ds-icon-lock-open-alt:before { content: '\e844'; } /* '' */
.ds-icon-eye:before { content: '\e831'; } /* '' */
.ds-icon-download-cloud:before { content: '\e822'; } /* '' */
.ds-icon-upload-cloud:before { content: '\e818'; } /* '' */
.ds-icon-chat:before { content: '\e845'; } /* '' */
.ds-icon-cog-alt:before { content: '\e853'; } /* '' */
.ds-icon-eject:before { content: '\e81a'; } /* '' */
.ds-icon-flash:before { content: '\e84a'; } /* '' */
.ds-icon-megaphone:before { content: '\e809'; } /* '' */
.ds-icon-bug:before { content: '\e80b'; } /* '' */
.ds-icon-tasks:before { content: '\e80c'; } /* '' */
.ds-icon-filter:before { content: '\e80d'; } /* '' */
.ds-icon-magic:before { content: '\e80e'; } /* '' */
.ds-icon-user-md:before { content: '\e80f'; } /* '' */
.ds-icon-medkit:before { content: '\e810'; } /* '' */
.ds-icon-terminal-1:before { content: '\e827'; } /* '' */
.ds-icon-shield:before { content: '\e823'; } /* '' */
.ds-icon-map:before { content: '\e850'; } /* '' */
.ds-icon-direction:before { content: '\e84b'; } /* '' */
.ds-icon-tools:before { content: '\e81b'; } /* '' */
.ds-icon-share-1:before { content: '\e838'; } /* '' */
.ds-icon-login:before { content: '\e81c'; } /* '' */
.ds-icon-logout:before { content: '\e81d'; } /* '' */
.ds-icon-publish:before { content: '\e812'; } /* '' */
.ds-icon-ccw:before { content: '\e857'; } /* '' */
.ds-icon-back-in-time:before { content: '\e80a'; } /* '' */
.ds-icon-monitor:before { content: '\e813'; } /* '' */
.ds-icon-mobile:before { content: '\e828'; } /* '' */
.ds-icon-lifebuoy:before { content: '\e81e'; } /* '' */
.ds-icon-suitcase:before { content: '\e81f'; } /* '' */
.ds-icon-database:before { content: '\e819'; } /* '' */
.ds-icon-flow-cascade:before { content: '\e814'; } /* '' */
.ds-icon-flow-branch:before { content: '\e815'; } /* '' */
.ds-icon-spin1:before { content: '\e805'; } /* '' */
.ds-icon-flow-line:before { content: '\e834'; } /* '' */
.ds-icon-flow-parallel-1:before { content: '\e835'; } /* '' */
.ds-icon-rocket-1:before { content: '\e836'; } /* '' */
.ds-icon-gauge:before { content: '\e829'; } /* '' */
.ds-icon-traffic-cone:before { content: '\e854'; } /* '' */
.ds-icon-download-outline:before { content: '\e83a'; } /* '' */
.ds-icon-download:before { content: '\e816'; } /* '' */
.ds-icon-upload-outline:before { content: '\e839'; } /* '' */
.ds-icon-upload:before { content: '\e817'; } /* '' */
.ds-icon-map-1:before { content: '\e852'; } /* '' */
.ds-icon-menu-outline:before { content: '\e807'; } /* '' */
.ds-icon-basket:before { content: '\e847'; } /* '' */
.ds-icon-stopwatch:before { content: '\e84c'; } /* '' */
.ds-icon-loop-1:before { content: '\e83c'; } /* '' */
.ds-icon-flow-split:before { content: '\e82a'; } /* '' */
.ds-icon-flow-merge:before { content: '\e82b'; } /* '' */
.ds-icon-flow-parallel:before { content: '\e82c'; } /* '' */
.ds-icon-flow-cross:before { content: '\e82d'; } /* '' */
.ds-icon-share:before { content: '\e82e'; } /* '' */
.ds-icon-loop:before { content: '\e83b'; } /* '' */
.ds-icon-eject-1:before { content: '\e825'; } /* '' */
.ds-icon-target:before { content: '\e83d'; } /* '' */
.ds-icon-layers:before { content: '\e820'; } /* '' */
.ds-icon-article-alt:before { content: '\e855'; } /* '' */
.ds-icon-wrench:before { content: '\e821'; } /* '' */
.ds-icon-signal:before { content: '\e840'; } /* '' */
.ds-icon-tablet:before { content: '\e841'; } /* '' */
.ds-icon-easel:before { content: '\e856'; } /* '' */
.ds-icon-th-thumb-empty:before { content: '\e846'; } /* '' */
.ds-icon-coverflow-empty:before { content: '\e84d'; } /* '' */
.ds-icon-hdd:before { content: '\e837'; } /* '' */
.ds-icon-warehouse:before { content: '\e84e'; } /* '' */
.ds-icon-export:before { content: '\e851'; } /* '' */
.ds-icon-cogs:before { content: '\e84f'; } /* '' */
.ds-icon-lightbulb-2:before { content: '\e849'; } /* '' */
.ds-icon-shuffle:before { content: '\e82f'; } /* '' */
.ds-icon-laptop:before { content: '\e808'; } /* '' */
.ds-icon-cc:before { content: '\e83f'; } /* '' */
.ds-icon-lightbulb-1:before { content: '\e848'; } /* '' */
.ds-icon-database-1:before { content: '\e83e'; } /* '' */
.ds-icon-th:before { content: '\e811'; } /* '' */
.ds-icon-popup:before { content: '\e826'; } /* '' */
.ds-icon-flow-tree:before { content: '\e833'; } /* '' */